* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
#navbar {
    width: 100%;
    margin: 0 auto;
    color: black;
    background-color: lightskyblue;
    display: flex; 
    justify-content: center;
    top: 0;
    position: sticky;
    z-index: 1;
} 
.nav-container {
    width: 95%;  
    display: flex;
    justify-content: space-between;
}
.links {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
a{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
p{   
    padding: 10px 0;
    line-height: 1.5;
    font-size: large;
}
#hero{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/images/anas-alshanti-feXpdV001o4-unsplash.jpg");
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin: 20px 0;
    position: relative;
}
#HeroDiv{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    line-height: 1;
}
h1{
    padding: 10px 0;
    text-align: center;
}
.hero-source{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
.caption{
    color: mediumslateblue;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}
.contact{
    background-color: lightskyblue;
    color: #333;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    border: solid 10px lightskyblue;
}
.title {
    text-align: center;
    padding-top: 5px;
    font-size: 2em;
    font-weight: 400;
}
.description {
    max-width: 800px;
    border: 6px solid #d8aeff;
    border-radius: 12px;
    padding: 15px;
    color: black;
    font-size: 1.2em;
    font-weight: 360;
    line-height: 1.5em;
    margin: 25px auto;
}
footer{
    background-color: lightskyblue;
    text-align: center;
    width: 100%;
}